/* == CodeBlock ================================================================ */
/* -- DOM ---------------------------------------------------------------------- */
[data-node-type="codeBlock"] {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* -- Inner Container ---------------------------------------------------------- */
[data-node-type="codeBlock"] > .codeBlockInnerContainer {
  flex-basis: 95%;
  padding: 5px;
  min-height: 1.5em;
  background: #EDF2F7;
  border: 1px solid;
  border-color: #CBD5E0;
  border-radius: 4px;
  overflow: auto;
  font-size: 1.25em;
  hyphens: none;

  counter-reset: div;
}
/* .. Line Numbers ............................................................. */
[data-node-type="codeBlock"].showCodeBlockLines > .codeBlockInnerContainer > [data-node-type="paragraph"]::before {
  counter-increment: div;
  content: counter(div)"  ";
  font-size: 1em;
  color: #AAA;
}

/* .. Content .................................................................. */
[data-node-type="codeBlock"] > .codeBlockInnerContainer > [data-node-type="paragraph"] {
  font-family: 'Courier New', Courier, monospace;
  background: #EDF2F7;
}

/* .. Syntax Highlight ......................................................... */
/* NOTE: this is inspired by https://github.com/codemirror/language/blob/34481e72218083c0a47025d946407066e5b6661a/src/highlight.ts#L193 */
.tok-link { text-decoration: underline; }
.tok-heading {
  text-decoration: underline;
  font-weight: bold;
}
.tok-emphasis { font-style: italic; }
.tok-strong { font-weight: bold; }
.tok-keyword { color: #708; }
.tok-atom { color: #219; }
.tok-bool { color: #219; }
.tok-url { color: #219; }
.tok-labelName { color: #219; }
.tok-inserted { color: #164; }
.tok-deleted { color: #164; }
.tok-literal { color: #164; }
.tok-string { color: #a11; }
.tok-number {/*currently not defined*/}
.tok-variableName { color: #30a; }
.tok-variableName.tok-definition { color: #00f }
.tok-typeName { color: #085; }
.tok-namespace { color: #085; }
.tok-className { color: #167; }
.tok-macroName { color: #256; }
.tok-propertyName { color: #00c; }
.tok-operator {/*currently not defined*/}
.tok-comment { color: #940; }
.tok-meta { color: #404740; }
.tok-invalid { color: #f00; }
.tok-punctuation {/*currently not defined*/}

/* -- VisualId Container ------------------------------------------------------- */
[data-node-type="codeBlock"] > .codeBlockVisualIdContainer {
  flex-basis: 5%;
}
