/* == CodeBlock ================================================================ */
/* -- DOM ---------------------------------------------------------------------- */
[data-node-type="codeBlock"] {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* -- Line Number Container ---------------------------------------------------- */
[data-node-type="codeBlock"] > .codeBlockLineNumbersContainer {
  display: flex;
  flex-direction: column;
}

/* -- Inner Container ---------------------------------------------------------- */
[data-node-type="codeBlock"] > .codeBlockInnerContainer {
  flex-basis: 95%;
  padding: 5px;
  min-height: 1.5em;
  background: #EDF2F7;
  border: 1px solid;
  border-color: #CBD5E0;
  border-radius: 4px;
  overflow: auto;
  font-size: 1.25em;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* .. CodeBlockToken ........................................................... */
/* NOTE: this is inspired by https://github.com/PrismJS/prism-themes/blob/master/themes/prism-one-light.css */
.codeBlockToken-comment,
.codeBlockToken-prolog,
.codeBlockToken-cdata {
	color: hsl(230, 4%, 64%);
}

.codeBlockToken-doctype,
.codeBlockToken-punctuation,
.codeBlockToken-entity {
	color: hsl(230, 8%, 24%);
}

.codeBlockToken-attr-name,
.codeBlockToken-class-name,
.codeBlockToken-boolean,
.codeBlockToken-constant,
.codeBlockToken-number,
.codeBlockToken-atrule {
	color: hsl(35, 99%, 36%);
}

.codeBlockToken-keyword {
	color: hsl(301, 63%, 40%);
}

.codeBlockToken-property,
.codeBlockToken-tag,
.codeBlockToken-symbol,
.codeBlockToken-deleted,
.codeBlockToken-important {
	color: hsl(5, 74%, 59%);
}

.codeBlockToken-selector,
.codeBlockToken-string,
.codeBlockToken-char,
.codeBlockToken-builtin,
.codeBlockToken-inserted,
.codeBlockToken-regex,
.codeBlockToken-attr-value,
.codeBlockToken-attr-value > .codeBlockToken-punctuation {
	color: hsl(119, 34%, 47%);
}

.codeBlockToken-variable,
.codeBlockToken-operator,
.codeBlockToken-function {
	color: hsl(221, 87%, 60%);
}

.codeBlockToken-url { color: hsl(198, 99%, 37%); }
.codeBlockToken-bold { font-weight: bold; }
.codeBlockToken-comment,
.codeBlockToken-italic { font-style: italic; }
.codeBlockToken-entity { cursor: help; }
.codeBlockToken-namespace { opacity: 0.8; }

/* -- VisualId Container ------------------------------------------------------- */
[data-node-type="codeBlock"] > .codeBlockVisualIdContainer {
  flex-basis: 5%;
}
