/* -- Wrapper ------------------------------------------------------------------ */
.ProseMirror .tableWrapper {
  overflow-x: auto;
}

/* -- Table -------------------------------------------------------------------- */
.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 10px;
  width: 95%;
  overflow: hidden;
}
.ProseMirror table div[data-node-type="paragraph"] { margin: 0; }

/* -- Cells -------------------------------------------------------------------- */
/* .. Cell and HeaderCell ...................................................... */
.ProseMirror td,
.ProseMirror th {
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  min-width: 1em;
  padding: 3px 5px;
  border: 2px solid #CED4DA;
}
.ProseMirror table td > *,
.ProseMirror table th > * {
  margin-bottom: 0;
}

/* .. HeaderCell ............................................................... */
.ProseMirror table th {
  background-color: #F1F3F5;
  text-align: left;
  font-weight: normal;
}

/* -- CellSelection ------------------------------------------------------------ */
.ProseMirror table .selectedCell:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  pointer-events: none;
  z-index: 2;
  background: rgba(200, 200, 255, 0.4);
}

/* -- Resize ------------------------------------------------------------------- */
.ProseMirror table .resize-cursor {
  position: absolute;
  width: 4px;
  top: 0;
  right: -2px;
  bottom: -2px;
  background-color: #adf;
  pointer-events: none;
}

.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}