/* == ProseMirror ============================================================== */
/* -- Default ------------------------------------------------------------------ */
.ProseMirror { position: relative; }
.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}
.ProseMirror pre { white-space: pre-wrap; }
.ProseMirror-hideselection *::selection { background: transparent; }
.ProseMirror-hideselection *::-moz-selection { background: transparent; }
.ProseMirror-hideselection { caret-color: transparent; }
.ProseMirror-selectednode { outline: 2px solid #8cf; }
.ProseMirror { outline: 1px solid transparent; }

/* == Editor =================================================================== */
/* NOTE: Must match theme variables. (SEE: core/theme) */
:root {
  --ACTIVE_BUTTON_COLOR: #E2E8F0;
  --HOVER_BUTTON_COLOR: #EDF2F7/*currently only used through CSS file*/;
}

/* .. BlurredSelection ......................................................... */
.ProseMirror-focused .selected_text {
  /*only show background when editor is no longer focused*/
  background-color: transparent !important;
}

/* set background color on the selected Text while the Editor is not focused.
  Prevent the styles from being added to NodeViews so that their styles do not
  get messed up
*/
.selected_text:not([data-node-view]) {
  background-color: rgba(0,0,0,0.1);
}

/* == Toolbar ================================================================== */
/* -- IconButton --------------------------------------------------------------- */
.iconButton {
  width: auto;
  height: auto;

  margin-right: 0.375rem;
  padding: 0.30em;

  border-radius: 50%;
}
.iconButton.active { background-color: var(--ACTIVE_BUTTON_COLOR); }
.iconButton:hover  { background-color: var(--HOVER_BUTTON_COLOR); }