/* == Nested View Node Shared Styles =========================================== */
/* default styles for both Nodes */
/* .. General View ............................................................. */
[data-node-type="nestedViewBlockNode"],
[data-node-type="editableInlineNodeWithContent"] {
  font-size: 1em;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  cursor: auto;
}

/* .. PM Selection ............................................................. */
/*
  NOTE: ProseMirror hides the Cursor and the Selection inside a
        NestedView whenever the previous Selection was a GapCursor Selection.
        Prevent this from happening, while maintaining defaults
*/
[data-node-type="nestedViewBlockNode"] > .innerViewDisplay > div { caret-color: black !important/*do not allow hiding the cursor*/; }
[data-node-type="nestedViewBlockNode"] > .innerViewDisplay > div::selection { background: #ACCEF7/*Chrome Default*/; }
[data-node-type="nestedViewBlockNode"] > .innerViewDisplay > div::-moz-selection { background: #ACCEF7/*Chrome Default*/; }
[data-node-type="nestedViewBlockNode"].ProseMirror-selectednode > span,

/* do not show blue outline inside the NestedViews */
[data-node-type="editableInlineNodeWithContent"].ProseMirror-selectednode > span { outline: 1px solid transparent; }
[data-node-type="nestedViewBlockNode"] > .innerViewDisplay > .ProseMirror,
[data-node-type="editableInlineNodeWithContent"] > .innerViewDisplay > .ProseMirror { outline: 1px solid transparent; }

/* .. Inner View ............................................................... */
/* address FireFox bug with contenteditable, https://bugzilla.mozilla.org/show_bug.cgi?id=1252108 */
[data-node-type="nestedViewBlockNode"] .innerViewDisplay .ProseMirror,
[data-node-type="editableInlineNodeWithContent"] .innerViewDisplay .ProseMirror {
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
}

/* .. Rendered View ............................................................ */
/* hide the rendered Node content when the Nodes are not selected */
[data-node-type="nestedViewBlockNode"].ProseMirror-selectednode .renderedViewDisplay,
[data-node-type="editableInlineNodeWithContent"].ProseMirror-selectednode .renderedViewDisplay {
  display: none;
}

/* show default content when the NestedViewNodes are empty */
[data-node-type="nestedViewBlockNode"].emptyNVN .renderedViewDisplay::before,
[data-node-type="editableInlineNodeWithContent"].emptyNVN .renderedViewDisplay::before {
	content: "(Empty)";
	color: red;
}
